#!/bin/sh

source .profile
#xrandr --dpi 192
#export GDK_SCALE=2
setbg &		# Set the background
sxhkd -c $HOME/.config/sxhkd/sxhkdrc &	# application key binding
xsetroot -cursor_name left_ptr &
xset r rate 330 30 &	# Speed xrate up
unclutter &		# Remove mouse when idle
slstatus &  # status bar
mpdupdate &
#blueberry-tray &
nm-applet &  # networkmanager tray icon
#xrandr --primary --output DP-0 --dpi 156 --mode 3840x2160 --rate 60 --pos 0x0  &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
picom --config ~/.config/picom.conf --experimental-backends &
#xwallpaper --no-randr --stretch ~/.config/wallpaper.png
#zathura ~/.local/share/Magyarch-dwm.pdf &
#sleep 2s && notify-send 'Nyomja meg a Super+F1-et a használati utasításért.' -t 10000 &





